@media (min-width: 768px) and (max-width: 1157px) {
  .header-part {
    width: 100%;
  }
  .nav-part {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-list {
    font-weight: 500;
    margin-left: 120px;
    margin-right: 122px;
    padding-top: 20px;
    gap: 40px;
  }
  .header-logo-div {
    margin-left: 16px;
  }
  .contacts-bir {
    padding: 5px;
    width: 50px;
  }
  .adres-list {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  /* section-bir*/
  .hero-div {
    width: 100%;
    align-items: center;
    resize: none;
  }

  .button-hero {
    margin-top: 36px;
  }

  /*section-iki*/
  .our-features {
    width: 100%;
  }
  .ourf-div {
    width: 100%;
    margin: 96px 16px;
  }
  .our-features {
    width: 100%;
  }
  .icon-sect-iki {
    display: none;
  }

  .ourf-list {
    flex-wrap: wrap;
  }

  .ourf-ullist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% - 24px) / 2);
  }

  /*section-üç*/
  .team.div {
    width: 100%;
    justify-content: center;
  }
  .our-team-list {
    margin: 40px 108px 96px 108px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% - 24px) / 2);
  }
  .third-section-baslik {
    text-align: center;
    padding-right: 400px;
    margin-bottom: 72px;
  }
  /*section-dort*/
  .ourp-div {
    width: 100%;
  }
  .apps-resim-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% - 24px) / 2);
  }

  /*footer*/
  .footer-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  .modal-pencere {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
  .menu-icon-hamburger-bttn {
    display: none;
  }
}
